* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 14%;
    gap: 15px;
    background-color: white;
    .generatedUsername{
        font-size: 16px;
        color: red;
        text-align: center;
        line-height: 24px;
        padding-top: 10px;
        font-weight: 600;
    }
    .toggleButton {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }
    .welcomeText {
        font-size: 30px;
        font-weight: 700;
    }

    .aboutLogin {
        font-size: 16px;
        color: rgb(100, 100, 100);
        text-align: center;
        width: 300px;
        line-height: 24px;
    }

    .form {
        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                border-radius: 30px;
                padding: 10px 20px;
                width: 250px;
                border: 1px solid rgb(200, 200, 200);
                outline: none;
            }

            input::placeholder {
                color: black;
            }

            button {
                background-color: #2F7FFF;
                text-decoration: none;
                color: white;
                width: 250px;
                padding: 15px 28px;
                border-radius: 40px;
                font-weight: 600;
                border: none;


            }
        }
    }
    a{
        text-decoration: none;
        color: #2F7FFF;
        font-weight: 700;
    }
}
@media(max-width:498px){
    .control{
        padding-top: 70%;
    }
}