* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
    gap: 15px;
    .form {
        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            input {
                border-radius: 30px;
                padding: 10px 20px;
                border: 1px solid rgb(200, 200, 200);
                outline: none;
            }
            input::placeholder{
                color: black;
            }

            button {
                     background-color: rgb(255, 140, 125);
                text-decoration: none;
                color: black;
                padding: 10px 20px;
                border-radius: 30px;
                font-weight: 600;
                border: none;
                

            }
        }
    }
}