.light {
  --background: white;
  --text-color: #121212;
  --input-bg: #ffffff;
  --border-color: #ccc;
  --button-bg: white;
  --button-hover: #5c6581;
  --file-name: #555;
  --button-color: #121212;
}

.dark {
  --background: #1e1e1e;
  --text-color: white;
  --input-bg: #1e1e1e;
  --border-color: #444;
  --button-bg: #3b82f6;
  --button-hover: #000000;
  --file-name: #ccc;
  --button-color: white;
}

.background {
  margin: 0 2rem;

}

.control {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 50px;
}

.leftSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo {
  background-color: var(--background);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logoImage {
  padding-left: 20px;
  width: 60px;
}

.logo h2,
.logoControl h2 {
  font-size: 15px;
  color: #7C8799;
}

.logoControl {
  background-color: var(--background);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.textInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rightSide {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--background);
}

.rightSide p {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
  line-height: 26px;
  padding: 15px 25px;
}

.rightSide h2 {
  font-weight: 400;
  font-size: 15px;
  color: #7C8799;
  text-align: center;
  padding-bottom: 20px;
}

/* Mobil uyum */
@media (max-width: 768px) {
  .background {
    margin: 0 1rem;
  }

  .control {
    flex-direction: column;
  }

  .leftSide {
    width: 100%;
    margin-bottom: 20px;
  }

  .rightSide {
    width: 100%;
  }

  .rightSide p {
    font-size: 12px;
  }
}
